.table-view{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-font-size: 15;-fx-text-fill-: black;

}
.table-view-column{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-font-size: 15;-fx-text-fill-: black;

}
.table-row-cell{
    -fx-background-color: transparent;

}
.table-view .column-header {
    -fx-background-color: rgb(112,218,156);
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.table-view .table-row-cell:empty{
    -fx-background-color: transparent;
}
.table-view .table-row-cell:selected{
    -fx-background-color: grey;
}


.table-view .table-row-cell:selected *{
    -fx-font-weight: bold;
    -fx-text-fill:rgb(0,0,0);
}
#txtEmail{
    -fx-background-color: transparent;
    -fx-font-size: 13;-fx-text-fill-: black;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-fill-color: rgb(112,218,156);

}
#search{
        -fx-background-color: rgb(112,218,156);
        -fx-background-radius: 15;
        -fx-border-radius: 15;
        -fx-font-size: 14;
        -fx-text-fill: black;
        -fx-cursor: hand;
    }
#update{
    -fx-background-color: skyblue;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-cursor: hand;

}
#search:hover ,#update:hover{
    -fx-background-color: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
#inform{
    -fx-background-color: red;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-cursor: hand;

}
#inform:hover{
    -fx-background-color: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#inform:pressed{
    -fx-background-color: grey;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 16;
    -fx-text-fill: black;
}
#pen ,#all ,not{
    -fx-cursor: hand;
}
#pen:hover {
    -fx-text-fill: blue;
    -fx-cursor: hand;
}
#not:hover{
    -fx-text-fill: red;
    -fx-cursor: hand;
}
#all:hover{
    -fx-text-fill: green;
    -fx-cursor: hand;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#back{
    -fx-text-fill-color: black;
    -fx-font-weight: bold;
}
#back:hover{
    -fx-text-fill:  rgb(112,218,156);
}

