.table-view{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-font-size: 15;-fx-text-fill-: black;

}
.table-view-column{
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 64, 0, 0) rgba(255, 255, 0, 0) rgb(112,218,156) rgba(245, 171, 31, 0);
    -fx-font-size: 15;-fx-text-fill-: black;

}
.table-row-cell{
    -fx-background-color: transparent;

}
.table-view .column-header {
    -fx-background-color: rgb(112,218,156);
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.table-view .table-row-cell:empty{
    -fx-background-color: transparent;
}
.table-view .table-row-cell:selected{
    -fx-background-color: grey;
}


.table-view .table-row-cell:selected * {
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}