.default-color0.chart-pie { -fx-pie-color: rgb(112,218,156); }
.default-color1.chart-pie { -fx-pie-color: #F9E79F; }
.default-color2.chart-pie { -fx-pie-color: rgb(217,249,228); }
.default-color3.chart-pie { -fx-pie-color: #D2B4DE; }
.default-color4.chart-pie { -fx-pie-color: skyblue; }
.default-color5.chart-pie { -fx-pie-color: #EDBB99; }
.default-color6.chart-pie { -fx-pie-color: #A3E4D7; }
.default-color7.chart-pie { -fx-pie-color: #F5B7B1; }
.default-color8.chart-pie { -fx-pie-color: #AEB6BF; }
.default-color9.chart-pie { -fx-pie-color: #FCE4EC; }
.default-color10.chart-pie { -fx-pie-color: #C5CAE9; }
.default-color11.chart-pie { -fx-pie-color: pink; }
.default-color12.chart-pie { -fx-pie-color: #E6EE9C; }
.default-color13.chart-pie { -fx-pie-color: lightblue; }
.default-color14.chart-pie { -fx-pie-color: lightgreen; }
.default-color15.chart-pie { -fx-pie-color: #B2EBF2; }
.default-color16.chart-pie { -fx-pie-color: #FFCCBC; }
.default-color17.chart-pie { -fx-pie-color: #9FA8DA; }